body {
  margin: 0;
  padding: 0;

  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  line-height: 20px;

  background-image: url(../bg/skulls.png);

}

input{
	-webkit-tap-highlight-color: transparent;
}

.app-container {
  margin: 0 auto;
  height: 100%;
  /* padding: 30px; */

  max-width: 500px;
}

.heading {
  font-size: 56px;
  font-weight: bolder;
  line-height: 32px;

  margin-left: 30px;
  margin-right: 30px;

  text-shadow: 2px 2px 1px #ccc;
}

.heading__inner {
  color: green;
}

.question {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 28px;
  line-height: 28px;

  color: green;
  text-shadow: 1px 1px 2px #ccc;
  text-align: center;

  width: calc(100% - 80px);
  height: 60px;

  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;

  appearance: none;
  border-radius: 0;
  border: none;

  background-color: #fcfcfc;
}

.question__label::before {
  content: "";
  display: block;

  height: 1px;
  /* width: 260px; */
  width: 0;

  margin: 0 auto;

  transition: width .3s;
  background-color: green;
}

.question:focus {
  outline: none;
}

.question:focus + .question__label::before {
  width: calc(100% - 60px);

  /* margin-left: 30px;
  margin-right: 30px; */
}

.answer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: bolder;

  color: green;

  height: 100vw;

  margin: 0;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

  text-shadow: 1px 1px 0px #ddd;

  background-color: #fcfcfc;
}