html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

input {
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.app {
  margin: 0 auto;

  min-width: 320px;
  // max-width: 425px;
}

.app__input-section {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}

.app__ask-a-question {
  color: #fff;
  font-size: 20px;
  line-height: 20px;

  padding: 10px;
  // margin-top: 10px;

  text-align: center;
  text-shadow: 0px 0px 20px #fff;

  display: block;
}

.app__question {
  appearance: none;

  font-weight: bolder;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  width: calc(100% - 80px);

  margin: 30px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 10px;

  border-radius: 7px;
  border: none;

  background-color: rgba(255, 255, 255, 0.2);

  transition: box-shadow, background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;

    color: #fff;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    width: calc(100% - 18px);
    margin: 0;

    padding: 9px;

    // background-color: rgba(255, 255, 255, 0);
    background-color: rgba(15, 18, 28, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

/* миксин */
.app__question {
  @include placeholder {
    color: #fff;
  }
}

.app__picture {
  display: block;

  width: 300px;

  margin: 0 auto;
  transform: translate(17px);

  /* outline: 1px solid white; */
}

.app__have-an-answer {
  color: #fff;
  font-size: 20px;
  line-height: 20px;

  padding: 10px;
  margin-top: -30px;

  text-align: center;
  text-shadow: 0px 0px 20px #fff;

  display: block;
}

.app__answer {
  font-size: 20px;
  font-weight: bolder;

  color: #464265;

  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  /* background-color: #fff; */
}







/* tablets */
@media screen and (min-width: 768px) {

  body {
    background-image: url(../img/bg-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    height: 100%;
  }

  .app {
    height: calc(100% - 403px); // output section
  }

  .app__input-section {
    padding-top: 50px;

    max-width: 668px;
    margin: 0 auto;

    background: none;
  }

  .app__output-section {
    height: 100%;

    background-color: rgba(255, 255, 255, 0.2);
  }

  .app__question {
    font-size: 26px;
    line-height: 26px;

    &:focus {
      outline: none;

      color: #fff;

      border: 1px solid #fff;
      border-radius: 7px;

      width: calc(100% - 80px);
      margin: 30px;
      margin-top: 0;
      margin-bottom: 0px;
    }
  }

  .app__picture {
    width: 500px;
    height: auto;

    transform: translate(27px);
  }

  .app__answer {
    min-height: 100px;

    font-size: 26px;
    line-height: 26px;

    color: #fff;
    // text-shadow: 0px 0px 40px #fff;
  }

}





/* desktops */
@media screen and (min-width: 1200px) {

  .app__input-section {
    max-width: 768px;
  }

  .app__picture {
    width: 668px;

    transform: translate(36px);
  }

}